@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #c471f5;
  --secondary-color: #5c068f;
}

* {
  box-sizing: border-box;
}

body {  
  background: linear-gradient(to right, #67228f, #be79e7);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;  
}

.search::placeholder {
  color: #e3dae8;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}
form{
  margin-left: auto;
  margin-top: 15px;
  align-items: center;
  justify-content: centre;
}
.btn{
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  justify-content: centre;
  border-radius: 60px;
  color:#be79e7;
  outline: var(--primary-color);
  background-color:#be79e7;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
